:root {
    --color1: #D89584;
    --color2: #f4f4f4;
}
*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: arial;
    line-height: 1.5;
}
iframe{
    width: 100%;
    border: none;
    height: 350px;
}
div.cover{
    background: url(cover.png) no-repeat center/cover;
    height: 360px;   
    position: relative;

}
img.cover-profile{
    height: 100px;
    margin-left: auto;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 30px;


}
h1{
    color: white;
    text-align: center;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 0px;

}
div.cover p{
    text-align: center;
    color: white;
    margin-top: 8px;
    font-size: 36;
}
div.cover-contact{
    position: absolute;
    top: 20px;
    left: 10px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;

}
div.cover-contact p{
    text-align: left;
    margin-top: 0%;
    margin-bottom: 0%;

}
div.cover-contact p:first-child{
    margin-bottom: 14px;

}
div.cover-contact *{
    font-size: 14px;
    color: white;



}
a.contact-button{
    color: var(--color1);
    border: 3px solid var(--color1);
    padding: 8px 20px;
    text-decoration: none;
    background-color: black;
    display: inline-block;
    margin-top: 18px;
    font-size: 14px;
}

a.contact-button-portfolio{
position: absolute; right: 20px; top: 5px;
}
a.contact-button:hover{
    color: white;
    border: 2px solid white;
}
div.section-grise1{
    
    background-color: var(--color2);

    padding-bottom: 30px;
    
}
div.section-blanche{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 80px;
}
.section{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;


}
div.section-grise2{
    
    background-color: var(--color2);
    padding-top: 80px;

}
h2{
    text-align: center;
    font-size: 38;
    margin-top: 0px;
}
div.separateur{
    background-color: #979797;
    height: 1px;
    width: 150px;
    position: relative;
    left: 50%;
    margin-left: -75px;

}
div.section-grise1 p{
    font-size: 22px;
    color: #656565;
    text-align: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}
img.col-contenu{
    width: 40%;
    max-width: 350px;
    height: 400px;
    
}
div.col-contenu{
    width: 60%;
    padding-left: 16px;
}
.float-right{
    float: right;
}
.texte-avec-ligne-verticale{
    margin-top: 0px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    height: 50px;
    display: inline-block;

}


div.barre-verticale{
    height: 100px;
    background-color: var(--color1);
    width: 4px;
    margin-right: 8px;
}
.col-portfolio{
    width: 50%;
}
div.frame{
    background-color: white;
    margin: 30px 50px;
    padding: 20px 30px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);

}
div.frame img{
    width: 100px;
}
p.frame-title{
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    margin-top: 20px;
}
.portfolio-header{
    height: 90px;
    background: url(cover.png) no-repeat center/cover;

}
.portfolio-header-title{
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-top: 4px;
    padding-left: 8px;
    display: inline-block;
}
h1.port{
    color: black;
    font-size: 46px;
    line-height: 1;
    padding-top: 10px;
}
h2.port{
    color: black;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 0px;

}
.portfolio-back{
    margin-left: -10px;
    color: var(--color1);
}
img.portf-canne{
    width: 65%;
    height: 450px;
    max-width: 400px;
    min-width: 300px;
    

}
img.portf-smart{
    width: 65%;
    height: 450px;
    max-width: 550;
    min-width: 500px;

}
img.portf-u{
    width: 65%;
    height: 450px;
    max-width: 650;
    min-width: 500px;

}
img.portf-u1{
    width: 65%;
    height: 800px;
    max-width: 650;
    min-width: 500px;
}

/*RESPONSIVE DESIGN */

@media only screen and (max-width: 768px){
    img.cover-profile{
        height: 90px;
        margin-top: 75px;
    }
    h1{
        font-size: 38px;
        padding-top: 0px;
        margin-bottom: 0px;
    
    }
    div.cover p{
        margin-top: 0px;
        font-size: 13px;
}
.section{
    padding-left: 20px;
    padding-right: 20px;
}
div.section-grise1 p{
    padding-bottom: -10px;



}
h2{
    font-size: 32px;
    
}
img.col-contenu{
    width: 100%;
    
}
div.col-contenu{
    width: 100%;
    padding-left: 0px;
    margin-top: 20px;
}

.col-portfolio{
    width: 100%;
    margin-bottom: 20px;
}
div.frame{
    margin: 0px 0px;
    padding: 0px 0px;
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0);

}
div.frame img{
    width: 70px;

}
iframe{
    height: 300px;
}
a.contact-button{
    padding: 7px 12px;

    margin-top: 16px;
    font-size: 12px;
}
a.contact-button-portfolio{
     right: 12px;
    }
    h1.port{
        font-size: 40px;
     
    }
    h2.port{
        font-size: 22px;
  
    }
    img.portf-water{
      
        width: 100%;
        max-width: 400px;
        height: 280px;
    }
    img.portf-canne{
        width: 100%;
        max-width: 270px;
        height: 300px;
    }
    img.portf-u{
      
        width: 100%;
        max-width: 400px;
        height: 350px;
    }
    img.portf-u1{
      
        width: 100%;
        max-width: 400px;
        height: 350px;
    }

    .texte-avec-ligne-verticale{
        width: 100%;
    
    }


}